# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
  name = Michael Vattuone
  email = mvattuone@gmail.com
[rerere]
  enabled = true
[core]
  excludesfile = /Users/mvattuone/.gitignore_global
[color]
  ui = true
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[color "diff"]
  meta = yellow
  frag = magenta bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse
[cola]
  spellcheck = false
[pull]
  rebase = preserve
[push]
	default = current
[merge]
  tool = nvimdiff2
[mergetool "nvimdiff"]
  layout = "LOCAL,BASE,REMOTE / MERGED"
